<div class="oc-modal oc-print-modal" id="modalImprimir" aria-hidden="true">
    <div class="oc-print-modal-box">
        <div class="oc-print-modal-toolbar no-print">
            <h3>Vista previa de impresión</h3>
            <div class="oc-print-modal-actions">
                <button type="button" class="btn sm modal-cancel">Cerrar</button>
                <button type="button" class="btn sm primary" id="btnOcPrintGo">Imprimir</button>
            </div>
        </div>
        <div class="oc-print-modal-body">
            {% include 'oc_clientes/_imprimir_sheet.html' %}
        </div>
    </div>
</div>
