Flask
Flask-SQLAlchemy
SQLAlchemy
pandas
openpyxl
reportlab
python-dotenv
python-barcode
qrcode
Pillow
cloudinary==1.44.2
requests
APScheduler
google-api-python-client==2.111.0
google-auth==2.27.0
google-auth-httplib2
google-auth-oauthlib
google-cloud-vision==3.7.0
pymupdf==1.24.0
Flask-Limiter

# Optional (prod): only needed if deploying behind a WSGI server
gunicorn
